html,
body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
  padding: 20px;
  background-color: #d6e8f0;
}

footer {
  background-color: #b8dfee;
  padding: 20px;
  text-align: center;
}
header {
  padding: 10px;
  text-align: center;
  background-color: rgb(102, 185, 211);
}
.header {
  padding: 30px;
  text-align: center;
  background-color: rgb(102, 185, 211);
}
.maket {
  width: 100%;
}
td {
  vertical-align: top;
  padding: 5px;
}
.left {
  background-color: #ccc;
  width: 70px;
}
table {
  margin: 0 auto;
}
tr:hover td {
  background: #b4fff2;
}
.switch {
  padding: 10px;
}
.experience {
  padding: 15px;
}
.thnks {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(102, 185, 211);
}
.map {
  position: absolute;
  bottom: 70px;
}
.optionCar {
  display: flex;
  flex-direction: row;
}
.arrayNew {
  margin-left: 20px;
}
.imgLogo {
  display: flex;
  flex-direction: row;
}
